.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: blue;
    text-align: center;
}

p {

    text-align: center;
    font-size: larger;
    width: 50%;
}



button {
    margin-top: 25px;
    color: white;
    background-color: green;
    font-size: medium;
    padding: 10px;
    border-radius: 10px;
}

button:hover {
    background-color: blue;
    cursor: pointer;
}

.calculator {
    display: flex;
    flex-direction: column;
}

.calculator>div>label {
    font-size: 25px;
}

.calculator>div>input {
    background-color: #d8f2e8;
    border: 0;
    margin-left: 50px;
    font-size: 25px;

}

.calculator>div>input:hover {
    background-color: #90f0cb;
}

.calculator>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 20px;
}

.result {
    width: 30%;
    font-size: 15px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.result th,
td {
    color: black;
    border: 2px solid black;
    padding: 2px;

}

@media (max-width: 1098px) {
    .calculator>div>label {
        font-size: 20px;
    }

    .calculator>div>input {
        font-size: 20px;
    }

    .calculator>div {
        width: 80%;
    }

    #emi {
        font-size: 10px;
    }

    .result {
        width: 80%;
        font-size: 10px;
    }

    

}

@media (max-width: 579px) {
    .calculator>div>label {
        font-size: 15px;
    }

    .calculator>div>input {
        font-size: 15px;
    }

    .calculator>div {
        width: 95%;
    }

    #emi {
        font-size: 10px;
    }

    .result {
        width: 100%;
        font-size: 10px;

    }

}